@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root{
    --blue-sky: #85c8ff;
    --lgt-orange: #ffc67c;
    --orange: #dfad6d;
    --dark-orange: #c2975e;
    --dark-purple: #490081;
    --lgt-purple: #8685c7;
    --white: #ffe9d1;
}

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 50px 30px 50px;
    color: var(--white);
    background-image: url('images/bg.png');

    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    height: 200px;
    width: 200px;
}

#title-desc{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
}

.space{
    height: 130px;
}

#root_map{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

#map{
    height: 500px;
    width: 50vw;
    max-width: 1200px;
    margin: 10px;
    border: 3px solid #04aa6d;
    border-radius: 15px;
}

#option_map{
    display: flex;
    flex-direction: column;
}

.leaflet-popup-content-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    background-color: var(--lgt-orange);
    color: var(--dark-purple);
}

.button:hover{
    background-color: var(--orange);
    border-inline: 3px solid var(--dark-orange);
}

.button:active{
    background-color: var(--dark-orange);
}

.btn_map{
    width: 180px;
    margin: 5px;
    background-color: var(--orange);
    min-width: fit-content;
    border: none;
    border-radius: 4px;
}

#root-input-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

#input_user{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 30px 10vw 30px 10vw;
    background-color: var(--lgt-purple);
    border-radius: 20px;
    gap: 5px;
}

label{
    width: 100%;
}

#time_dep{
    width: 180px;
}

.query{
    width: 50vw;
    max-width: 800px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 0 15px 0 15px;
    border: 2px solid var(--dark-orange);
    background-color: var(--white);
}

.query:focus{
    outline: none;
    border: 3px solid var(--orange)
}

h4{
    margin: 0;
    background-color: #0000004d;
    backdrop-filter: blur(5px);
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 6px;
}

footer{
    text-align: center;
}   

a{
    color: var(--dark-purple);
}

@media only screen and (max-width: 2000px){
    #title-desc{
        font-size: 25px;
    }
}

@media only screen and (max-width: 1235px){
    #map{
        width: 70vw;
    }

    #title-desc{
        font-size: 16px;
    }
}

@media only screen and (max-width: 720px){
    body{
        margin: 30px 0 30px 0;
    }

    #title-desc{
        flex-direction: column;
    }

    .space{
        height: 80px;
    }

    #map{
        height: 70vw;
    }
}

@media only screen and (max-width: 540px){
    #input_user{
        width: 50vw;
    }

    .query{
        width: calc(50vw - 30px);
    }

    #time_dep{
        width: calc(50vw - 30px);
    }
}