body{
    scroll-behavior: smooth;
}

#map{
    height: 400px;
    width: 550px;
    margin: 10px;
}

.bindPopup{
    display: flex;
    flex-direction: row;
}

#input_user{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.query{
    margin-bottom: 5px;
}

#route_steps{
    margin-top: 30px;
}

#address{
    margin-top: 30px;
}

#weather{
    margin-top: 30px;
}