@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root{
    --blue-sky: #85c8ff;
    --blue-sky-transparent: #85c8ff50;
    --lgt-orange: #ffc67c;
    --orange: #dfad6d;
    --dark-orange: #c2975e;
    --dark-purple: #490081;
    --lgt-purple: #8685c7;
    --white: #ffe9d1;
    --black-transparent: #0000004d;
    --grey: #b4a795;
    --transparent: #00000000;
}

*{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 50px 30px 50px;
    color: var(--white);
    row-gap: 150px;

    background-image: url('../images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0;
    background-color: #0000004d;
    padding: 10px 50px 10px 50px;
    margin: 10px;
    border-radius: 6px;
}

h2, h4, h5{
    margin: 5px;
}

#root_map{
    text-align: center;
}

#map{
    height: 700px;
    width: 90vw;
    max-width: 1200px;
    margin: 10px;
    border: 3px solid #04aa6d;
    border-radius: 15px;
    z-index: 99;
}

.leaflet-popup-content{
    margin: 13px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 200px;
}

.bindPopup{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
}

.bp-icon-temp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.icon{
    height: 50px;
    width: 50px;
}

.wea-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 15px;
}

.wea-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-det{
    height: 50px;
    width: 50px;
    background-color: var(--blue-sky-transparent);
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 4px;
}

#route_steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
    font-size: large;
    background-color: var(--blue-sky-transparent);
    border-radius: 10px;
    padding: 40px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.grid-item{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    font-size: 24px;
    background-color: var(--black-transparent);
    border-radius: 6px;
    text-align: center;
}

#address{
    margin-top: 30px;
}

.loc{
    color: var(--white);
}

.time{
    font-size: medium;
}

.wea{
    text-align: left;
    font-size: large;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.accordion{
    background-color: var(--transparent);
    color: var(--white);
    cursor: pointer;
    border: none;
    outline-color: transparent;
    font-size: 18px;
    text-align: left;
    padding: 0;
    transition: 0.4s;
    width: 100%;
}

.accordion::after{
    background-color: var(--black-transparent);
    padding: 0 12px;
    border-radius: 50%;
    content: "\002B";
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    float: right;
    transition: 0.4s ease-out;
}

.active::after{
    transform: rotate(135deg);
    float: right;
    margin-left: 5px;
    transition: 0.4s ease-out;
}

.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#weather{
    margin-top: 30px;
}

span{
    color: var(--grey);
}

.wind-dir{
    height: 23px;
    width: 23px;
}

#btn-top{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--lgt-orange);
    color: var(--dark-purple);
    border: none;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    z-index: 100;
}

#btn-top:hover{
    background-color: var(--orange);
    border: 0 solid var(--dark-orange);
}

#btn-top:active{
    background-color: var(--dark-orange);
}

#doc_btn{
    background-color: var(--black-transparent);
    color: var(--white);
}

footer{
    text-align: center;
}

@media only screen and (min-width: 2000px){
    #route_steps{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px){
    body{
        row-gap: 80px;
    }

    #map{
        height: 100vw;
    }

    #route_steps{
        padding: 10px;
        margin: -30px;
        gap: 10px;
        transform: translateY(30px);
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        transform: translateY(30px);
    }
}

@media only screen and (max-width: 453px){
    body{
        width: 100%;
        padding: 30px 50px 30px 0px;

    }

    #map{
        width: 100vw;
    }
}

@media only screen and (max-width: 341px){
    body{
        padding: 30px 50px 30px 50px;
        margin-left: 10px;
    }

    #map{
        width: 120vw;
    }
}